@page "/tools"

<h1>Tools</h1>

<section>
    <h3>Beep</h3>
    <button class="btn btn-primary btn-lg" @onclick="(async () => await beep())">
        <span class="oi oi-volume-high"></span>
    </button>
</section>
